.containerAmazing {
  display: flex;
  justify-content: space-between;
  background-color: #d22c4e;
  padding: 20px;
  border-radius: 10px;
  overflow: auto;
  a {
    text-decoration: none;
    color: #3f4064;
  }
}

.products {
  display: flex;
  gap: 10px;
}

.product {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 160px;
  height: 254px;
}

.product img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.discount {
  color: red;
  font-weight: bold;
  display: block;
}

.offer {
  text-align: center;
  color: white;
  a {
    text-decoration: none;
    color: white;
    text-align: center;
  }
  svg {
    align-items: center;
  }
}

.timer {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 20px;
  margin: 10px 0;
}

.timer span {
  background-color: white;
  color: #ff6161;
  padding: 5px 10px;
  border-radius: 5px;
}

.flash {
  margin: 50px 0 10px 0;
  padding: auto;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .containerAmazing {
    overflow: auto;
    margin-top: 15px;
    flex-direction: row;
    align-items: center;
  }
  
  .products {
    flex-wrap: wrap;
    justify-content: center;
  }

  .product {
    width: 200px;
    margin: 10px 0;
  }

  .timer {
    font-size: 18px;
  }
}
