.home-slider {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  position: relative;
}
.slick-slider {
  width: 2500;
}

.slide {
  height: 400px;
  width: 100%;
  background-position: center;
  position: relative;
}
.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.imgSlider {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.slick-dots li button:before {
  font-family: inherit;
  content: "_";
  color: black;
  font-size: 20px;
}

@media (max-width: 768px) {
  .home-slider .slide {
    width: 326px;
    height: 180px;
    border-radius: 15px;
  }

  .imgSlider {
    width: 100%;
    height: 180px;
    border-radius: 15px;
    object-fit: cover;
  }
}



